In [65]:
import pandas as pd
import os
import mysql.connector as conn
import csv

In [3]:
df = pd.read_excel('/home/neelneera/PycharmProjects/pythonProject2/pandas/Datasets/Attribute DataSet.xlsx')
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [5]:
df.to_csv('Attribute_DataSet.csv', index=False)

In [7]:
df.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [9]:
df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [33]:
df.columns = [x.replace(" ", "_") for x in df.columns]
df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern_Type', 'Recommendation'],
      dtype='object')

In [34]:
replacement = {
    'int64':'int(50)',
    'object':'varchar(100)',
    'float64':'float(50)'
}

In [35]:
columns = ", ".join("{} {}".format(a,b) for (a,b) in zip(df.columns, df.dtypes.replace(replacement)))
columns

'Dress_ID int(50), Style varchar(100), Price varchar(100), Rating float(50), Size varchar(100), Season varchar(100), NeckLine varchar(100), SleeveLength varchar(100), waiseline varchar(100), Material varchar(100), FabricType varchar(100), Decoration varchar(100), Pattern_Type varchar(100), Recommendation int(50)'

In [41]:
connection = conn.connect(host = 'localhost', user = 'root', passwd = 'Bolbokeno@1994')
cursor = connection.cursor()
print('connected successfully')

connected successfully

In [42]:
cursor.execute("use ineuron_task;")
cursor.execute("drop table if exists Attribute_DataSet2;")

In [43]:
cursor.execute("CREATE table Attribute_DataSet2 ({})".format(columns))

In [44]:
df2 = pd.read_csv('Attribute_DataSet.csv')
df2

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [79]:
 
    for i,row in df2.iterrows():
            print(tuple(row))
            sql = "INSERT INTO Attribute_DataSet2 VALUE (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            
            connection.commit()

(1006032852, 'Sexy', 'Low', 4.6, 'M', 'Summer', 'o-neck', 'sleevless', 'empire', nan, 'chiffon', 'ruffles', 'animal', 1)

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [78]:
t = ('a',12,'sd',nan)

NameError: name 'nan' is not defined